body,h2{
    margin:0;
    font-family: Arial, Helvetica, sans-serif; 
}

.landing{
    background-image: url(images/front.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white
}
header a{
 text-decoration: none;
 color: white;
 padding: 1em;
 min-width: 120px;

}
header{
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
}
#logo{
    flex: 3;
    font-size: 1.25em;
    min-width: 260px;
}
nav{
    flex: 2;
    display: flex;
    align-items: center;
}
nav a{
    flex:1;
}
nav a:hover{
    color: blueviolet;
}
header h2 i,nav a i{
    margin-right: .5em;
}

.maintext{
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: center;
    padding: 2em;
}
.tagline1{
    font-size:2.5em;
    font-weight: bold;
}

.maintext div{
    margin-top:.75em;
}
.maintext button{
    width: 20vw;
    margin-top: 2em;
    border-radius: 10px;
    padding: .7em;
}
.maintext button:hover{
    background-color:rgb(176, 230, 97);
}
.menu{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
    background: linear-gradient(to right,#B2A59B,#DED0B6,#FAEED1);
    color: black;
}
#menuheading{
    background: linear-gradient(to right,#B2A59B,#DED0B6,#FAEED1);
    font-size: 2.5em;
    display: flex;
    justify-content: center;
}
.menu th{
    color:#211951;
    font-size:1.8em;
}
table{
    width:100%;
    padding:1em;
}
.menu tr{
    display: flex;
    justify-content: center;
    margin-top: .8em;
}
.menu td:nth-child(1){
    flex: 1;
    justify-self: left;
}
.menu td:nth-child(2){
    justify-self: right;
}
.maincourse{
    grid-row: span 2;
}
#locheading{
    background: linear-gradient(to right,#34495E,#273746,#1C2833);
    font-size: 2.5em;
    display: flex;
    justify-content: center;
    color: antiquewhite;
}
.locations{
    background: linear-gradient(to right,#34495E,#273746,#1C2833);
    display: flex;
    flex-wrap: wrap;
    color: #AED6F1;

}
.locations h2{
    color:#F4ECF7;
    margin-bottom: .8em;
}
.locations div{
    flex:1;
    padding: 1em;
    min-width: 220px;
}
#copyright{
    background-color: black;
    color: white;
    padding: .25em 1em;
}